@model Core.Models.Coffee

@{
    ViewData["Title"] = "Create";
}

<h4>Publish a Coffee</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="col-md-3">
            <div class="card-header d-flex align-items-center justify-content-between">
                <img src="https://storagevik.blob.core.windows.net/cafecontainer/LogoAmantesCafe.png" alt="logotipo" width=300 height=300 align="right">
            </div>
        </div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Username"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer" class="control-label"></label>
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" accept="image/*"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>

    <div class="col-md-3">
        <div class="card gedf-card">
            <div class="card-body">
                <h5 class="card-title">Guerra pressiona mercado e preço do café cai</h5>
                <p class="card-text">
                    Em 8 dias de guerra café recua mais de 2300 pontos com cenário de incerteza no consumo e volta ao patamar de R$ 1.300 no BR
                </p>
                <a href="https://www.noticiasagricolas.com.br/noticias/cafe/310926-em-8-dias-de-guerra-cafe-recua-mais-de-2300-pontos-com-cenario-de-incerteza-no-consumo-e-volta-ao-patamar-de-r-1-300-no-br.html#.Yjs76tbMIdU" class="card-link">link completo</a>
            </div>
        </div>
        <div class="card gedf-card">
            <div class="card-body">
                <h5 class="card-title">Brazilian coffee farmers expected to use less fertiliser in 2022.</h5>
                <p class="card-text">
                    This is a result of the frost in July, as producers uprooted and pruned more trees. Following the Kremlin’s invasion of Ukraine, the volume of fertilisers purchased in Brazil over a two-day period was the equivalent of levels bought throughout all of January. However, most fertiliser was purchased by soybean, corn, and wheat producers.
                </p>
                <a href="https://perfectdailygrind.com/2022/03/coffee-news-recap-18-mar/" class="card-link">full link</a>

            </div>
        </div>


    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <div class="card-title text-center">Private Chat</div>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Refresh"></a>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div class="media align-items-center">
                        <img src="https://cdn.mindminers.com/blog/uploads/2021/05/Dani-Almeida_auto_x1.png" class="img-fluid rounded-circle mr-1" width="35" alt="User1">
                        <div class="media-body lh-1">
                            <a href="#">Ana Clara</a>
                            <div>
                                <small class="text-muted">active now</small>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons align-middle md-18 text-muted">message</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Message</h6>
                            <textarea name="post" id="post" cols="30" rows="6" class="form-control">

                                    </textarea>
                            <div class="p-2">
                                <a asp-controller="Posts" asp-action="Create" class="btn btn-dark btn-sm float-right">
                                    <i class="material-icons md-18 align-middle">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div class="media align-items-center">
                        <img src="https://equilibrioemvida.com/wp-content/uploads/2015/11/2EBB43A600000578-3330236-image-a-6_1448281158147-500x500.jpg" class="img-fluid rounded-circle mr-1" width="35" alt="User2">
                        <div class="media-body lh-1">
                            <a href="#">Peter Molnar</a>
                            <div>
                                <small class="text-muted">active now</small>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons align-middle md-18 text-muted">message</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Message</h6>
                            <textarea name="post" id="post" cols="30" rows="6" class="form-control" placeholder="Send...">

                                    </textarea>
                            <div class="p-2">
                                <a asp-controller="Posts" asp-action="Create" class="btn btn-dark btn-sm float-right">
                                    <i class="material-icons md-18 align-middle">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div class="media align-items-center">
                        <img src="https://i0.wp.com/cafeaoleu.com/wp-content/uploads/2021/03/paula-1-500x500.jpg" class="img-fluid rounded-circle mr-1" width="35" alt="User3">
                        <div class="media-body lh-1">
                            <a href="#">Daniela Ramos</a>
                            <div>
                                <small class="text-muted">active now</small>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons align-middle md-18 text-muted">message</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Message</h6>
                            <textarea name="post" id="post" cols="30" rows="6" class="form-control" placeholder="Send...">

                                    </textarea>
                            <div class="p-2">
                                <a asp-controller="Posts" asp-action="Create" class="btn btn-dark btn-sm float-right">
                                    <i class="material-icons md-18 align-middle">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div class="media align-items-center">
                        <img src="https://blog.melhorenvio.com.br/wp-content/uploads/2021/02/Foto-Perfil-Melhor-Envio.png" class="img-fluid rounded-circle mr-1" width="35" alt="User4">
                        <div class="media-body lh-1">
                            <a href="#">Juliana Lemos</a>
                            <div>
                                <small class="text-muted">active 7 minutes ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons align-middle md-18 text-muted">message</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Message</h6>
                            <textarea name="post" id="post" cols="30" rows="6" class="form-control" placeholder="Send...">

                                    </textarea>
                            <div class="p-2">
                                <a asp-controller="Posts" asp-action="Create" class="btn btn-dark btn-sm float-right">
                                    <i class="material-icons md-18 align-middle">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div class="media align-items-center">
                        <img src="http://youfashion.com.br/storage/user-images/5e1c7e6a-37fb-4550-8e66-3cea8cbe4a81-72-perfil.jpeg" class="img-fluid rounded-circle mr-1" width="35" alt="User5">
                        <div class="media-body lh-1">
                            <a href="#">Jessica Balmer</a>
                            <div>
                                <small class="text-muted">active 26 minutes ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons align-middle md-18 text-muted">message</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Message</h6>
                            <textarea name="post" id="post" cols="30" rows="6" class="form-control" placeholder="Send...">

                                    </textarea>
                            <div class="p-2">
                                <a asp-controller="Posts" asp-action="Create" class="btn btn-dark btn-sm float-right">
                                    <i class="material-icons md-18 align-middle">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                    <div class="media align-items-center">
                        <img src="https://www.cafesalomao.com.br/wp-content/uploads/2017/07/produtor-reinaldo.jpg" class="img-fluid rounded-circle mr-1" width="35" alt="User6">
                        <div class="media-body lh-1">
                            <a href="#">Max Clinton</a>
                            <div>
                                <small class="text-muted">active 20 hours ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons align-middle md-18 text-muted">message</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Message</h6>
                            <textarea name="post" id="post" cols="30" rows="6" class="form-control" placeholder="Send...">

                                    </textarea>
                            <div class="p-2">
                                <a asp-controller="Posts" asp-action="Create" class="btn btn-dark btn-sm float-right">
                                    <i class="material-icons md-18 align-middle">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
